.bar-container {
  background-color: #d73c3c;
  color: white;
  font-family: UbuntuMono-Regular;
  text-align: center;
  user-select: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
